{% block title %}<title>Home</title> {% endblock %}
{% block css %} 
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'hackbee/css/bootstrap.css' %}" >  
    <script src="{% static 'hackbee/js/bootstrap.js' %}"></script>  
{% endblock %}
{% block navigation %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container justify-content-center">
                <a class="navbar-brand" href="#">HackBee</a>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Reports</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
    </nav>
{% endblock %}
{% block content %}
    <div class="container pt-4">
        <h1>Welcome to Hackbee</h1>
        <p>
            This is a simple web application to demonstrate the use of the Killerbee framework.
        </p>
        <p> The Killerbee framework is a security research framework for the ZigBee protocol. </p>
    </div>
    <div class="container pt-4">
        <h1>Available Devices</h1> 
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Device ID</th>
                    <th>Product Name</th>
                    <th>Serial Number</th>
                </tr>
            </thead> 
            <tbody>
                {% for device in device_list %}
                <tr>
                    <td> {{ device.0 }} </td>
                    <td> {{ device.1 }} </td>
                    <td> {{ device.2 }} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container pt-4">
        <h1>Channel Discovery</h1> 
        <form method="GET">
            {% csrf_token %}
            <p>Device ID</p>
            <input type="text" name="dev_id">
	    <p>Channel</p>
            <input type="number" name="channel">
	    <p>Delay. Default = 2</p>
            <input type="number" name="delay">
	    <p>Scan Duration. Default value and max value is 3</p>
            <input type="number" name="scan_time">
            <input type="submit" name="start_channel_discovery" value="Start channel discovery.">
        </form>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>PAN ID</th>
                    <th>Source</th>
                    <th>External PAN ID</th>
                    <th>Stack profile</th>
                    <th>Stack version</th>
                    <th>Channel</th>
                </tr>
            </thead> 
            <tbody>
	        {% for stumbler_result in stumbler_results %}
			<tr>
			    <td> {{ stumbler_result.panid }} </td>
			    <td> {{ stumbler_result.source }} </td>
			    <td> {{ stumbler_result.extpanid }} </td>
			    <td> {{ stumbler_result.stackprofile }} </td>
			    <td> {{ stumbler_result.stackversion }} </td>
			    <td> {{ stumbler_result.channel }} </td>
			</tr>
		{% endfor  %}
            </tbody>
        </table>
    </div>
    <div class="container pt-4">
        <h1>Convert PCAP to SNA and vice versa.</h1>
        <form method="GET">
            {% csrf_token %}
            <p> Input file path.</p>
            <input type="text" name="input_convert_file_path">
            <p> Output file path.</p>
            <input type="text" name="output_convert_file_path">
            <input type="submit" name="start_zbconverter" value="Convert file.">
        </form>
        {{ zbconverter_status }}
        {% if zbconverter_output_file == "Error" %}
            <p>No output file.</p>
        {% else %}
            <p>Output file: {{ zbconverter_output_file }}</p>
        {% endif %}
    </div>
    <div class="container pt-4">
        <h1>Key search with encrypted PCAP and memory dump.</h1> 
        <p>As this tool is for educational purposes, we Hackbee provides a memory dump and encrypted PCAP with ZigBee traffic.</p>
        <p>If you have a memory dump and encrypted PCAP, provide the path using the options:</p>
        <ol>
            <li>-r : path to encrypted packet capture file.</li>
            <li>-f : path to memory dump.</li>
        </ol>
        <form method="GET">
            {% csrf_token %}
            <p> Path to encrypted PCAP. Default path is in ressources folder of hackbee.</p>
            <input type="text" name="input_pcap">
	    <p> Path to memory dump. Default path is in ressources folder of hackbee. </p>
            <input type="text" name="input_memdump">
            <input type="submit" name="start_zbgoodfind" value="Start key search.">
        </form>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Status</th>
                    <th>Guesses</th>
                    <th>Key</th>
                </tr>
            </thead> 
            <tbody>
                <tr>
                    <td> {{ zbgoodfind_key }} </td>
                    <td> {{ zbgoodfind_guesses }} </td>
                    <td> {{ zbgoodfind_status }} </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="container pt-4">
        <h1>ZigBee Sniffer</h1> 
        <p>This tool shall provide sniffing capability.</p>
        <p>To start the sniffing press the start button.</p>
        <p>To stop the sniffing press the stop button.</p>
        <ol>
            <li>--file-path : path to save the packet capture (PCAP) file.</li>
            <li>--dev_id : provide the device id of the sniffing module e.g., 1:3 </li>
            <li>--channel : provide the channel to sniff on e.g., 15 </li>
            <li>--packet_count : provide the number of packets you want to sniff on e.g., 500 </li>
        </ol>
        <form method="GET">
            {% csrf_token %}
            <p> Path to save the PCAP.</p>
            <input type="text" name="pcap_file_path">
	        <p>Device ID </p>
            <input type="text" name="dev_id">
            <p>Channel </p>
            <input type="text" name="channel">
            <p>Amount of packets to capture </p>
            <input type="text" name="packetcount">
            <input type="submit" name="start_sniffing" value="Start sniffing.">
            <input type="submit" name="stop_sniffing" value="Stop sniffing.">
        </form>
    </div>
    <div class="container pt-4">
        <h1>ZigBee PCAP Reader</h1> 
        <p>This tool shall provide the capability to read and display PCAPs in browser.</p>
        <ol>
            <li>--file-path : path to save the packet capture (PCAP) file.</li>
        </ol>
        <form method="GET">
            {% csrf_token %}
            <p> Path to save the PCAP.</p>
            <input type="text" name="pcap_file_path">
            <input type="submit" name="read_pcap" value="Read PCAP.">
        </form>
            {% for packet in pcap_content %}
                <tr> 
                    <td>
                        {{ packet }}
                    </td> 
                </tr>
            {% endfor %}
    </div>
{% endblock %}

    
            